@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

body {
	margin: 0;
	background-color: #fafafa;
	font-family: 'hanna';
}

a {
	text-decoration: none;
}

.section1 {
	font-size: 40px;
	color: #666666;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar {
	display: flex;
	font-size: 28px;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
}

.navbar__logo {
	
}

.navbar__logo i {
	color: orange;
}

.navbar__menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar__menu li {
	padding: 8px 12px;
}

.navbar__menu li:hover {
	padding: 8px 12px;
	background-color: orange;
	border-radius: 4px;
}

.navbar__user {
	list-style: none;
	color: orange;
	display: flex;
	padding-left: 0;
}

.navbar__user li {
	padding: 8px 12px;
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.navbar__menu {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar__menu li {
		width: 100%;
		text-align: center;
	}
	.navbar__user {
		justify-content: center;
		width: 100%;
	}
}